.footer-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.footer-parent{
    height: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-parent .footer-crousel{
    max-width: 100%;
    height: 3em;
}

.footer-crousel.icons {
    margin-bottom: 1em !important;
}

.footer-crousel.social {
    margin: 1em !important;
}

.footer-crousel{
    height: 5em;
    width: 80%;
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-crousel h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ... Existing styles ... */

/* ... existing styles ... */
/* ... existing styles ... */

